body {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  color: #403e47;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  color: #403e47;
  text-align: center;
}

h2 {
  font-size: 90px;
}

p {
  font-size: 18px;
  text-align: center;
  color: #403e47;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  font-size: 18px;
  font-weight: 400;
  display: inline;
  padding: 1rem;
  color: #403e47;
}

.forecast {
  background-image: linear-gradient(
    to top,
    #bdbce2 0%,
    #c0bff0 18%,
    #afaedb 82%,
    #bdb7e2 100%
  );
}

#city {
  font-size: 28px;
  font-weight: 600;
}

.default-temperature {
  font-size: 45px;
}

.symbol {
  font-size: 45px;
  margin-left: 15%;
}
.degree {
  font-size: 45px;
  text-align: start;
}

.units {
  font-size: 20px;
  position: relative;
}

.four-day {
  background-image: linear-gradient(
    to top,
    #bdbce2 0%,
    #c0bff0 18%,
    #a3a2db 62%,
    #afaedb 82%,
    #bdb7e2 100%
  );
}

.weekday {
  font-weight: bolder;
  color: #403e47;
  background-image: linear-gradient(
    to top,
    #f7e29c 0%,
    #fae7ab 50%,
    #f8c146 100%
  );
}

.daily-temp {
  font-size: 22px;
  font-weight: 500;
}

.daily-symbol {
  font-size: 30px;
}
.descriptor {
  text-align: left;
  margin-left: 10%;
}
